QWidget{
    background-color: whitesmoke;
    color: black;
}

#pasek_boczny{
    background-color: #DEDEDE;
}

QScrollBar::handle {
    background-color:#d8d8d8;
    border-radius:6px;
    border: 2px solid #cacaca;
    min-width:25px;
    min-height:25px;
}

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    border: none;
    background: none;
    color: none;
}

QMenuBar::item:selected {
    background-color: rgba(0,0,0, 0.1);
}

QMenu::item:selected {
    background-color: rgba(0,0,0, 0.1);
}

QScrollBar::add-line, QScrollBar::sub-line {
    border:none;
    background-color:none;
}

QScrollBar::sub-page:vertical {
    background: #DEDEDE;
}

QScrollBar::add-page:vertical {
    background: #DEDEDE;
}

QDialog{
    background-color: whitesmoke;
}

QSlider::handle::horizontal{
    background-color: gray;
}