QWidget{
    background-color: black;
    color: white
}

QProgressBar::chunk{
    background-color: #00FF00;
}


QScrollBar::handle {
    background-color:#FFFF00;
    border-radius:6px;
    min-width:25px;
    min-height:25px;
}

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    border: none;
    background: none;
    color: none;
}

QMenuBar::item:selected {
    background-color: #FFFF00;
    color: black;
}

QMenu::item:selected {
    background-color: #FFFF00;
    color: black;
}

QScrollBar::add-line, QScrollBar::sub-line {
    border:none;
    background-color:none;
}

QScrollBar::sub-page:vertical {
    background: black;
}

QScrollBar::add-page:vertical {
    background: black;
}

QDialog{
    background: black;
}

QSlider::handle::horizontal{
    background-color: yellow;
}

QSlider, QLabel{
    background-color: black;
}
